In [249]:
! pip install pandas

Requirement already satisfied: pandas in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [250]:
import pandas as pd

In [251]:
df =pd.read_csv(r"C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\Pandas\Used_Bikes.csv")

In [252]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [253]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  str
 1   price       32648 non-null  float64
 2   city        32648 non-null  str
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  str
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  str
dtypes: float64(4), str(4)
memory usage: 2.0 MB

In [254]:
df.columns

Index(['bike_name', 'price', 'city', 'kms_driven', 'owner', 'age', 'power',
       'brand'],
      dtype='str')

In [255]:
df.head(10)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
5,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,6.0,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000.0,Delhi,8200.0,First Owner,3.0,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield

In [256]:
df.tail(10)

,bike_name,price,city,kms_driven,owner,age,power,brand
32638,Yamaha Fazer 25 250cc,123000.0,Kadapa,14500.0,First Owner,4.0,250.0,Yamaha
32639,Royal Enfield Classic 350cc,95500.0,Delhi,18000.0,First Owner,8.0,350.0,Royal Enfield
32640,Hero Passion Pro 100cc,32000.0,Delhi,12000.0,First Owner,6.0,100.0,Hero
32641,Bajaj Avenger 220cc,41000.0,Delhi,20245.0,Second Owner,11.0,220.0,Bajaj
32642,Hero Passion 100cc,15000.0,Perumbavoor,35000.0,Second Owner,19.0,100.0,Hero
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [257]:
df.age

0         3.0
1         4.0
2         8.0
3         4.0
4         3.0
         ...
32643     4.0
32644     9.0
32645     6.0
32646    16.0
32647    13.0
Name: age, Length: 32648, dtype: float64

In [258]:
df['brand']

0                  TVS
1        Royal Enfield
2              Triumph
3                  TVS
4               Yamaha
             ...
32643             Hero
32644              TVS
32645            Bajaj
32646             Hero
32647            Bajaj
Name: brand, Length: 32648, dtype: str

In [259]:
df[['brand']]

               brand
0                TVS
1      Royal Enfield
2            Triumph
3                TVS
4             Yamaha
...              ...
32643           Hero
32644            TVS
32645          Bajaj
32646           Hero
32647          Bajaj

[32648 rows x 1 columns]

In [260]:
df['brand'].unique()

<StringArray>
[            'TVS',   'Royal Enfield',         'Triumph',          'Yamaha',
           'Honda',            'Hero',           'Bajaj',          'Suzuki',
         'Benelli',             'KTM',        'Mahindra',        'Kawasaki',
          'Ducati',         'Hyosung', 'Harley-Davidson',            'Jawa',
             'BMW',          'Indian',         'Rajdoot',             'LML',
           'Yezdi',              'MV',           'Ideal']
Length: 23, dtype: str

In [261]:
# df[['brand']].unique()
df['brand'].nunique()

23

In [262]:
df['brand'].unique()

<StringArray>
[            'TVS',   'Royal Enfield',         'Triumph',          'Yamaha',
           'Honda',            'Hero',           'Bajaj',          'Suzuki',
         'Benelli',             'KTM',        'Mahindra',        'Kawasaki',
          'Ducati',         'Hyosung', 'Harley-Davidson',            'Jawa',
             'BMW',          'Indian',         'Rajdoot',             'LML',
           'Yezdi',              'MV',           'Ideal']
Length: 23, dtype: str

In [263]:
df['brand'].value_counts()

brand
Bajaj              11213
Hero                6368
Royal Enfield       4178
Yamaha              3916
Honda               2108
Suzuki              1464
TVS                 1247
KTM                 1077
Harley-Davidson      737
Kawasaki              79
Hyosung               64
Benelli               56
Mahindra              55
Triumph               26
Ducati                22
BMW                   16
Jawa                  10
MV                     4
Indian                 3
Ideal                  2
Rajdoot                1
LML                    1
Yezdi                  1
Name: count, dtype: int64

In [264]:
df['owner'].unique()

<StringArray>
['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner Or More']
Length: 4, dtype: str

In [265]:
df['owner'].value_counts()

owner
First Owner             29964
Second Owner             2564
Third Owner               108
Fourth Owner Or More       12
Name: count, dtype: int64

In [266]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32643     True
32644     True
32645     True
32646     True
32647     True
Length: 32648, dtype: bool

In [267]:
df.duplicated().sum()

np.int64(25324)

In [268]:
df.drop_duplicates(inplace=True)

In [269]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [270]:
df.isnull()

      bike_name  price   city  kms_driven  owner    age  power  brand
0         False  False  False       False  False  False  False  False
1         False  False  False       False  False  False  False  False
2         False  False  False       False  False  False  False  False
3         False  False  False       False  False  False  False  False
4         False  False  False       False  False  False  False  False
...         ...    ...    ...         ...    ...    ...    ...    ...
9362      False  False  False       False  False  False  False  False
9369      False  False  False       False  False  False  False  False
9370      False  False  False       False  False  False  False  False
9371      False  False  False       False  False  False  False  False
9372      False  False  False       False  False  False  False  False

[7324 rows x 8 columns]

In [271]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [272]:
df.dropna(inplace=True)

In [273]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [274]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [275]:
df[['brand', 'owner']]

                brand        owner
0                 TVS  First Owner
1       Royal Enfield  First Owner
2             Triumph  First Owner
3                 TVS  First Owner
4              Yamaha  First Owner
...               ...          ...
9362             Hero  First Owner
9369            Bajaj  First Owner
9370  Harley-Davidson  First Owner
9371            Bajaj  First Owner
9372            Bajaj  First Owner

[7324 rows x 2 columns]

In [276]:
df.drop('city',axis=1,inplace=True)

In [277]:
df

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,7127.0,First Owner,5.0,220.0,Bajaj

In [278]:
df.describe()

              price     kms_driven          age        power
count  7.324000e+03    7324.000000  7324.000000  7324.000000
mean   8.488390e+04   23910.496587     6.656472   228.133397
std    1.209662e+05   27317.594631     3.605299   158.324219
min    4.400000e+03       1.000000     1.000000   100.000000
25%    3.000000e+04   10155.750000     4.000000   125.000000
50%    5.500000e+04   19000.000000     6.000000   160.000000
75%    1.000000e+05   30112.000000     8.000000   350.000000
max    1.900000e+06  750000.000000    63.000000  1800.000000

In [279]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [280]:
royal_bikes =df[df['brand']=='Royal Enfield']

In [281]:
royal_bikes[royal_bikes['owner']=='First Owner']

,bike_name,price,kms_driven,owner,age,power,brand
1,Royal Enfield Classic 350cc,119900.0,11000.0,First Owner,4.0,350.0,Royal Enfield
8,Royal Enfield Thunderbird X 350cc,145000.0,9190.0,First Owner,3.0,350.0,Royal Enfield
23,Royal Enfield Classic Chrome 500cc,121700.0,24520.0,First Owner,5.0,500.0,Royal Enfield
36,Royal Enfield Classic 350cc,98800.0,39000.0,First Owner,5.0,350.0,Royal Enfield
38,Royal Enfield Thunderbird X 500cc,190500.0,4550.0,First Owner,2.0,500.0,Royal Enfield
...,...,...,...,...,...,...,...
9261,Royal Enfield Classic 500cc,146006.0,8575.0,First Owner,4.0,500.0,Royal Enfield
9319,Royal Enfield Classic 350cc,100000.0,25000.0,First Owner,10.0,350.0,Royal Enfield
9337,Royal Enfield Himalayan 410cc,120000.0,8492.0,First Owner,5.0,410.0,Royal Enfield
9338,Royal Enfield Himalayan 410cc,138000.0,5000.0,First Owner,5.0,410.0,Royal Enfield
9344,Royal Enfield Bullet Twinspark 350cc,80000.0,56968.0,First Owner,8.0,350.0,Royal Enfield

In [282]:
hero_bike =df[df['brand']=='Hero']

In [283]:
df['owner'].unique()

<StringArray>
['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner Or More']
Length: 4, dtype: str

In [284]:
hero_bike =df[df['brand']=='Hero']

under50K_hero_bike =hero_bike[hero_bike['kms_driven']<=50000]
seond_owner_hero_50k_km=under50K_hero_bike[under50K_hero_bike['owner']<='Second Owner']
seond_owner_hero_50k_km_2_age =seond_owner_hero_50k_km[seond_owner_hero_50k_km['age']<=2]
seond_owner_hero_50k_km_2_age

,bike_name,price,kms_driven,owner,age,power,brand
22,Hero Splendor iSmart Plus IBS 110cc,46500.0,3500.0,First Owner,2.0,110.0,Hero
121,Hero Splendor iSmart Plus IBS 110cc,48672.0,608.0,First Owner,2.0,110.0,Hero
172,Hero Super Splendor 125cc,43778.0,948.0,First Owner,2.0,125.0,Hero
176,Hero Splendor Plus Kick Alloy 100cc,48500.0,5500.0,First Owner,2.0,100.0,Hero
197,Hero HF Deluxe i3s iBS 100cc,60000.0,4000.0,First Owner,2.0,100.0,Hero
307,Hero Xpulse 200T,76000.0,3000.0,First Owner,2.0,200.0,Hero
328,Hero Passion Xpro 110cc,58000.0,7758.0,First Owner,2.0,110.0,Hero
419,Hero Passion Pro 110cc Drum,56500.0,10000.0,First Owner,2.0,110.0,Hero
492,Hero Splendor Plus IBS i3S 100cc,53300.0,10000.0,First Owner,2.0,100.0,Hero
505,Hero Splendor Plus IBS i3S 100cc,65000.0,2600.0,First Owner,2.0,100.0,Hero
708,Hero Splendor Plus Self Alloy 100cc,51300.0,2800.0,First Owner,2.0,100.0,Hero
787,Hero Xtreme 200R,66000.0,1112.0,First Owner,2.0,200.0,Hero
1477,Hero Xpulse 200cc FI,104000.0,5618.0,First Owner,1.0,200.0,Hero
1552,Hero Xtreme 200R ABS,97400.0,9700.0,First Owner,2.0,200.0,Hero
1945,Hero Xtreme 200R ABS,88000.0,6600.0,First Owner,2.0,200.0,Hero
2479,Hero Splendor Plus IBS i3S 100cc,47167.0,4664.0,First Owner,2.0,100.0,Hero
2631,Hero Splendor iSmart Plus IBS 110cc,50000.0,11584.0,First Owner,2.0,110.0,Hero
2654,Hero Passion Pro i3S Alloy 100cc,60000.0,1877.0,First Owner,2.0,100.0,Hero
2952,Hero Passion Pro i3S Alloy 100cc IBS,62000.0,1800.0,First Owner,2.0,100.0,Hero
3029,Hero HF Deluxe Eco 100cc,55000.0,2309.0,First Owner,2.0,100.0,Hero
3298,Hero Splendor Plus IBS i3S 100cc,56000.0,1745.0,First Owner,2.0,100.0,Hero
3882,Hero Splendor Plus Self Alloy 100cc,55000.0,4195.0,First Owner,2.0,100.0,Hero
3946,Hero Xtreme 200R ABS,90000.0,1406.0,First Owner,2.0,200.0,Hero
4055,Hero Splendor Plus Self Alloy 100cc,55000.0,5238.0,First Owner,2.0,100.0,Hero
4512,Hero HF Deluxe Eco 100cc,41000.0,4544.0,First Owner,2.0,100.0,Hero
5810,Hero Glamour i3s 125cc,75000.0,7488.0,First Owner,2.0,125.0,Hero
5933,Hero Super Splendor 125cc,57000.0,3200.0,First Owner,2.0,125.0,Hero
6613,Hero HF Deluxe self Alloy 100cc,39500.0,5448.0,First Owner,2.0,100.0,Hero
6981,Hero Passion Pro 110cc Drum,56000.0,1168.0,First Owner,2.0,110.0,Hero
7381,Hero HF Deluxe Eco 100cc,46000.0,11309.0,First Owner,2.0,100.0,Hero
8531,Hero Xtreme 200R ABS,85000.0,40.0,First Owner,2.0,200.0,Hero

In [285]:
seond_owner_hero_50k_km_2_age =seond_owner_hero_50k_km[seond_owner_hero_50k_km['age']<=2]

In [286]:
seond_owner_hero_50k_km_2_age

,bike_name,price,kms_driven,owner,age,power,brand
22,Hero Splendor iSmart Plus IBS 110cc,46500.0,3500.0,First Owner,2.0,110.0,Hero
121,Hero Splendor iSmart Plus IBS 110cc,48672.0,608.0,First Owner,2.0,110.0,Hero
172,Hero Super Splendor 125cc,43778.0,948.0,First Owner,2.0,125.0,Hero
176,Hero Splendor Plus Kick Alloy 100cc,48500.0,5500.0,First Owner,2.0,100.0,Hero
197,Hero HF Deluxe i3s iBS 100cc,60000.0,4000.0,First Owner,2.0,100.0,Hero
307,Hero Xpulse 200T,76000.0,3000.0,First Owner,2.0,200.0,Hero
328,Hero Passion Xpro 110cc,58000.0,7758.0,First Owner,2.0,110.0,Hero
419,Hero Passion Pro 110cc Drum,56500.0,10000.0,First Owner,2.0,110.0,Hero
492,Hero Splendor Plus IBS i3S 100cc,53300.0,10000.0,First Owner,2.0,100.0,Hero
505,Hero Splendor Plus IBS i3S 100cc,65000.0,2600.0,First Owner,2.0,100.0,Hero
708,Hero Splendor Plus Self Alloy 100cc,51300.0,2800.0,First Owner,2.0,100.0,Hero
787,Hero Xtreme 200R,66000.0,1112.0,First Owner,2.0,200.0,Hero
1477,Hero Xpulse 200cc FI,104000.0,5618.0,First Owner,1.0,200.0,Hero
1552,Hero Xtreme 200R ABS,97400.0,9700.0,First Owner,2.0,200.0,Hero
1945,Hero Xtreme 200R ABS,88000.0,6600.0,First Owner,2.0,200.0,Hero
2479,Hero Splendor Plus IBS i3S 100cc,47167.0,4664.0,First Owner,2.0,100.0,Hero
2631,Hero Splendor iSmart Plus IBS 110cc,50000.0,11584.0,First Owner,2.0,110.0,Hero
2654,Hero Passion Pro i3S Alloy 100cc,60000.0,1877.0,First Owner,2.0,100.0,Hero
2952,Hero Passion Pro i3S Alloy 100cc IBS,62000.0,1800.0,First Owner,2.0,100.0,Hero
3029,Hero HF Deluxe Eco 100cc,55000.0,2309.0,First Owner,2.0,100.0,Hero
3298,Hero Splendor Plus IBS i3S 100cc,56000.0,1745.0,First Owner,2.0,100.0,Hero
3882,Hero Splendor Plus Self Alloy 100cc,55000.0,4195.0,First Owner,2.0,100.0,Hero
3946,Hero Xtreme 200R ABS,90000.0,1406.0,First Owner,2.0,200.0,Hero
4055,Hero Splendor Plus Self Alloy 100cc,55000.0,5238.0,First Owner,2.0,100.0,Hero
4512,Hero HF Deluxe Eco 100cc,41000.0,4544.0,First Owner,2.0,100.0,Hero
5810,Hero Glamour i3s 125cc,75000.0,7488.0,First Owner,2.0,125.0,Hero
5933,Hero Super Splendor 125cc,57000.0,3200.0,First Owner,2.0,125.0,Hero
6613,Hero HF Deluxe self Alloy 100cc,39500.0,5448.0,First Owner,2.0,100.0,Hero
6981,Hero Passion Pro 110cc Drum,56000.0,1168.0,First Owner,2.0,110.0,Hero
7381,Hero HF Deluxe Eco 100cc,46000.0,11309.0,First Owner,2.0,100.0,Hero
8531,Hero Xtreme 200R ABS,85000.0,40.0,First Owner,2.0,200.0,Hero

In [287]:
df[
    (df['brand']=='TVS')&
    (df['kms_driven']<=75000)&
    (df['age']<=2)&
    (df['price']<=50000)
]

            bike_name    price  kms_driven        owner  age  power brand
7055  TVS Sport 100cc  46000.0      6222.0  First Owner  2.0  100.0   TVS

In [288]:
df.query("brand=='TVS' and age <= 2 and kms_driven <= 75000 and price <= 50000")

            bike_name    price  kms_driven        owner  age  power brand
7055  TVS Sport 100cc  46000.0      6222.0  First Owner  2.0  100.0   TVS

In [289]:
df

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,7127.0,First Owner,5.0,220.0,Bajaj

In [290]:
df['owner'].unique()

<StringArray>
['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner Or More']
Length: 4, dtype: str

In [291]:
owner_bike ={
    'First Owner':1, 'Second Owner':2, 'Third Owner':3, 'Fourth Owner Or More':4
}

In [292]:
df['owner']=df['owner'].map(owner_bike)

In [293]:
df

,bike_name,price,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,11000.0,1,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,110.0,1,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,16329.0,1,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,10000.0,1,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,7127.0,1,5.0,220.0,Bajaj

In [294]:
df['owner'].unique()

array([1, 2, 3, 4])

In [295]:
df.drop('bike_name', axis=1, inplace= True)

In [296]:
df['brand'].unique()

<StringArray>
[            'TVS',   'Royal Enfield',         'Triumph',          'Yamaha',
           'Honda',            'Hero',           'Bajaj',          'Suzuki',
         'Benelli',             'KTM',        'Mahindra',        'Kawasaki',
          'Ducati',         'Hyosung', 'Harley-Davidson',            'Jawa',
             'BMW',          'Indian',         'Rajdoot',             'LML',
           'Yezdi',              'MV',           'Ideal']
Length: 23, dtype: str

In [297]:
brand_dict = {
    'TVS':0, 'Royal Enfield':1, 'Triumph':2, 'Yamaha':3, 'Honda':4, 'Hero':5,
       'Bajaj':6, 'Suzuki':7, 'Benelli':8, 'KTM':9, 'Mahindra':10, 'Kawasaki':11,
       'Ducati':12, 'Hyosung':13, 'Harley-Davidson':14, 'Jawa':15, 'BMW':16, 'Indian':17,
       'Rajdoot':18, 'LML':19, 'Yezdi':20, 'MV':21, 'Ideal':22
}

In [298]:
df['brand']=df['brand'].map(brand_dict)

In [299]:
df

         price  kms_driven  owner  age  power  brand
0      35000.0     17654.0      1  3.0  110.0      0
1     119900.0     11000.0      1  4.0  350.0      1
2     600000.0       110.0      1  8.0  675.0      2
3      65000.0     16329.0      1  4.0  180.0      0
4      80000.0     10000.0      1  3.0  150.0      3
...        ...         ...    ...  ...    ...    ...
9362   25000.0     48587.0      1  8.0  150.0      5
9369   35000.0     60000.0      1  9.0  220.0      6
9370  450000.0      3430.0      1  4.0  750.0     14
9371  139000.0     21300.0      1  4.0  400.0      6
9372   80000.0      7127.0      1  5.0  220.0      6

[7324 rows x 6 columns]

In [300]:
df.duplicated().sum()

np.int64(18)

In [301]:
df.drop_duplicates(inplace=True)

In [302]:
df.isnull().sum()

price         0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [303]:
x =df.drop('price', axis=1)
y =df[['price']]

In [304]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7306 rows x 1 columns]

In [305]:
x

      kms_driven  owner  age  power  brand
0        17654.0      1  3.0  110.0      0
1        11000.0      1  4.0  350.0      1
2          110.0      1  8.0  675.0      2
3        16329.0      1  4.0  180.0      0
4        10000.0      1  3.0  150.0      3
...          ...    ...  ...    ...    ...
9362     48587.0      1  8.0  150.0      5
9369     60000.0      1  9.0  220.0      6
9370      3430.0      1  4.0  750.0     14
9371     21300.0      1  4.0  400.0      6
9372      7127.0      1  5.0  220.0      6

[7306 rows x 5 columns]

In [306]:
! pip install scikit-learn

Requirement already satisfied: scikit-learn in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (1.8.0)
Requirement already satisfied: numpy>=1.24.1 in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (from scikit-learn) (2.4.2)
Requirement already satisfied: scipy>=1.10.0 in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (from scikit-learn) (1.17.0)
Requirement already satisfied: joblib>=1.3.0 in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (from scikit-learn) (1.5.3)
Requirement already satisfied: threadpoolctl>=3.2.0 in C:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages (from scikit-learn) (3.6.0)

In [307]:
from sklearn.linear_model import LinearRegression
lr =LinearRegression()
lr.fit(x , y )

LinearRegression()

In [308]:
lr.predict([[17654.0,	1,	3.0	,110.0,	0]])

c:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[-13949.27367912]])

In [309]:
lr.score(x, y )

0.720251135957866

In [310]:
# from sklearn.datasets import load_iris
# x , y =load_iris(return_X_y=True)

In [311]:
# x

In [312]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7306 rows x 1 columns]

In [313]:
# from sklearn.tree import DecisionTreeClassifier
# dt =DecisionTreeClassifier()

In [314]:
# dt.fit(x , y )

In [315]:
# pred =dt.predict(x)

In [316]:
# y

In [ ]:
# pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [318]:
from sklearn.ensemble import RandomForestRegressor
RFG =RandomForestRegressor()

In [319]:
RFG.fit(x , y )

c:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages\sklearn\base.py:1336: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [320]:
pred =RFG.predict(x)

In [321]:
pred

array([ 36196.        , 128538.41666667, 500599.99      , ...,
       471084.        , 125969.08333333,  77894.        ], shape=(7306,))

In [322]:
RFG.predict([[17654.0,	1	,3.0,	110.0	,0]])

c:\Users\kumaw\OneDrive\Desktop\LIET\Data ana\liet\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([36196.])

In [323]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7306 rows x 1 columns]

In [325]:
RFG.score(x , y )

0.9853151008263243